<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Home</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <!-- <div class="HeaderContainer">
      <div class="leftcontent">
       <img class="icon" src="./images/shopLogo.jpeg">
      </div>
      <div class="middlecontent">
      <img class="search_icon" src="images/search3.jpeg">

        <input type="search" placeholder="Search for friends, content and more...." class="Search"></input>
      </div>
      <div class="rightcontent">
        <li class="Home horizontal_navbar w3-xxlarge fa fa-home">Home</li>
        <li class="horizontal_navbar" > <a href="/chatRoom"> <img class="icon" src="images/msg_icon.png"></a></li>
        <li class="horizontal_navbar" >  <a href="/profile"><img class="profile" src="images/profilePic.jpeg"/></a> </li>
        <li class="horizontal_navbar" >  <a href="/classroom"><img class="classimg" src="images/classroom.png"/></a> </li>        
        <li class="horizontal_navbar" >  <a href="https://classroom.google.com/"><img class="classimg" src="images/classroom.png"/></a> </li>        
        <!-- <li class="horizontal_navbar" > <img class="icon" src="images/notification.jpeg"></li>
        <li class="Logout horizontal_navbar" ><a href="/logout"> Logout  </a></li>
      </div>
    </div> 
  
    css

    

  .HeaderContainer{
    /* overflow: hidden; */
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    width:100vw;
    background-color: #fff;
    position: fixed; 
    display:flex;
    padding:8px;
    -webkit-box-shadow: 0px -2px 22px -4px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px -2px 22px -4px rgba(0,0,0,0.59);
    box-shadow: 0px -2px 22px -4px rgba(0,0,0,0.59);
    }
    
    .leftcontent{ 
      text-align: center;
      flex: 2;
    }
  
    .middlecontent{
      background-color: #eee;
      flex: 4;
      padding: 3px;
      display: flex;
      align-items: center;
      border-radius: 32px;
    }
  
    .rightcontent{ 
      /* float:left; */
      display: flex;
    /* flex: 3; */
      align-items: center;
    line-height: 20px;
    text-align: right;
    }
  
  
  
  --> 
  
  
  
    <div class="HeaderContainer">
      <div class="leftcontent">
       <h1 class="logo1"> <a href="/" style="text-decoration: none; color: black;"> StudentPortal</a></h1>
      </div>
      <div class="middlecontent">
        <li class="horizontal_navbar"> <a href="/"> <img class="icon" src="images/home.png"></a></li>
        <li class="horizontal_navbar" > <a href="https://my-chatcordroom.herokuapp.com/"> <img class="icon" src="images/msg_icon.png"></a></li>
        <li class="horizontal_navbar" >  <a href="/classroom"><img class="classimg" src="images/classroom.png"/></a> </li>        
        <!-- <li class="horizontal_navbar" >  <a href="https://classroom.google.com/"><img class="classimg" src="images/classroom.png"/></a> </li>         -->
        <li class="horizontal_navbar" > <img class="icon" src="images/notification.jpeg"></li>
      </div>
      <div class="rightcontent">
        <!-- <li class="Logout horizontal_navbar" ><a href="/logout"> Login </a></li>
        <li class="Logout horizontal_navbar" ><a href="/logout"> Logout  </a></li> -->
        <li class="horizontal_navbar" >  <a href="/profile"><img class="profile" src="images/profilePic.jpeg"/></a> </li>
      </div>
    </div>

<!--     
    <div class="container">

      <div class="leftContainer">
        <hr>
        <li  ><a id="syllabus" href="#" >Syllabus</a></li><hr>
        <li><a id="marks" href="#">MarkSheet </a></li><hr>
        <li><a id="fees" href="#">Fees Status</a> </li><hr>
        <li><a id="Attendance" href="#">Attendance</a></li><hr>
        <li><a id="notes" href="#">Study</a></li><hr>
      </div>
      
      <div class="middleContainer">
        <table id="table" >
          <tr>
          <th>Sno</th>
          <th>Description</th>
          <th>Status</th>
          <th>Download</th>
          </tr>
        
        </table>
       
      </div>
      <div class="rightContainer">
        <img class="event" src="images/event1.png" alt="">
        <img class="event" src="images/event2.png" alt="">
        <img class="event" src="images/event3.png" alt="">
      </div>
    </div>
   -->




    <!-- articles -->
    <div class="articles">
      <div class="row row-cols-1 row-cols-md-4 g-2">
        <div class="col">
          <div class="card h-100" style="width: 18rem">
              <a href="https://medium.com/interviewnoodle/beginners-guide-to-effectively-use-leetcode-8874801af42f">
                  <img
                  src="https://miro.medium.com/max/960/1*DA10D6OM167jTMz_Bysg4A.gif"
                  class="card-img-top"
                  alt="blog 1"
                  /></a>
                  <div class="card-body">
                <a href="https://medium.com/interviewnoodle/beginners-guide-to-effectively-use-leetcode-8874801af42f" style="text-decoration: none;">
              <h5 class="card-title">
                Beginners Guide to Effectively Use LeetCode.
              </h5>
              </a>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
        </div>
  
  
  
        <div class="col">
          <div class="card h-100" style="width: 18rem">
              <a href="https://www.freecodecamp.org/news/frontend-vs-backend-whats-the-difference/">
                  <img
                  src="https://www.freecodecamp.org/news/content/images/size/w2000/2022/03/pexels-christina-morillo-1181677.jpg   "
                  class="card-img-top"
                  alt="blog 1"
                  /></a>
                  <div class="card-body">
                <a href="https://www.freecodecamp.org/news/frontend-vs-backend-whats-the-difference">
              <h5 class="card-title">
                  Frontend VS Backend – What's the Difference?
              </h5>
              </a>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
        </div>
  
  
  
        <div class="col">
          <div class="card h-100" style="width: 18rem">
              <a href="https://www.freecodecamp.org/news/what-is-rem-in-css/">
                  <img
                  src="https://www.freecodecamp.org/news/content/images/size/w2000/2022/03/rem-in-css-cover-image.jpeg"
                  class="card-img-top"
                  alt="blog 1"
                  /></a>
                  <div class="card-body">
                <a href="https://www.freecodecamp.org/news/what-is-rem-in-css/">
              <h5 class="card-title">
                  CSS REM – What is REM in CSS?
              </h5>
              </a>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
        </div>
  
  
  
        <div class="col">
          <div class="card h-100" style="width: 18rem">
              <a href="https://www.freecodecamp.org/news/what-is-debugging-how-to-debug-code/">
                  <img
                  src="https://www.freecodecamp.org/news/content/images/size/w300/2022/03/pexels-mike-198101.jpg"
                  class="card-img-top"
                  alt="blog 1"
                  /></a>
                  <div class="card-body">
                <a href="https://www.freecodecamp.org/news/what-is-debugging-how-to-debug-code/">
              <h5 class="card-title">
                  What is Debugging? How to Debug Your Code for Beginners
              </h5>
              </a>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
        </div>
  
  
  
        <div class="col">
          <div class="card h-100" style="width: 18rem">
              <a href="https://www.freecodecamp.org/news/learn-react-in-spanish-course-for-beginners/">
                  <img
                  src="https://www.freecodecamp.org/news/content/images/size/w2000/2022/02/thumbnail-2.png"
                  class="card-img-top"
                  alt="blog 1"
                  /></a>
                  <div class="card-body">
                <a href="https://www.freecodecamp.org/news/learn-react-in-spanish-course-for-beginners/">
              <h5 class="card-title">
                  Learn React in Spanish – Course for Beginners
              </h5>
              </a>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
        </div>
  
  
        <div class="col">
          <div class="card h-100" style="width: 18rem">
              <a href="https://www.freecodecamp.org/news/plugins-in-figma/">
                  <img
                  src="https://www.freecodecamp.org/news/content/images/size/w2000/2022/03/pexels-picjumbocom-196645.jpg"
                  class="card-img-top"
                  alt="blog 1"
                  /></a>
                  <div class="card-body">
                <a href="https://www.freecodecamp.org/news/plugins-in-figma/">
              <h5 class="card-title">
                  How to Use Plugins in Figma
              </h5>
              </a>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
        </div>
  
  
  
  
        <div class="col">
          <div class="card h-100" style="width: 18rem">
              <a href="https://www.freecodecamp.org/news/what-is-a-compiler-in-c/">
                  <img
                  src="https://www.freecodecamp.org/news/content/images/size/w2000/2022/03/1-YhjIVZXE56R6YZaTF-Lzig.jpeg"
                  class="card-img-top"
                  alt="blog 1"
                  /></a>
                  <div class="card-body">
                <a href="https://www.freecodecamp.org/news/what-is-a-compiler-in-c/">
              <h5 class="card-title">
                  What is a Compiler? Compilers in C Explained for Beginners
              </h5>
              </a>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
        </div>
  
  
  
  
  
        <div class="col">
          <div class="card h-100" style="width: 18rem">
              <a href="https://www.freecodecamp.org/news/how-to-rename-a-local-or-remote-branch-in-git/">
                  <img
                  src="https://www.freecodecamp.org/news/content/images/size/w2000/2022/03/git.png"
                  class="card-img-top"
                  alt="blog 1"
                  /></a>
                  <div class="card-body">
                <a href="https://www.freecodecamp.org/news/how-to-rename-a-local-or-remote-branch-in-git/">
              <h5 class="card-title">
                  How to Rename a Local or Remote Branch in Git
              </h5>
              </a>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
        </div>
  
  
  
        <div class="col">
          <div class="card h-100" style="width: 18rem">
              <a href="https://www.freecodecamp.org/news/react-state/">
                  <img
                  src="https://www.freecodecamp.org/news/content/images/size/w2000/2022/03/react-state-absolute-beginners.png"
                  class="card-img-top"
                  alt="blog 1"
                  /></a>
                  <div class="card-body">
                <a href="https://www.freecodecamp.org/news/react-state/">
              <h5 class="card-title">
                  React State for Absolute Beginners
              </h5>
              </a>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div>
        </div>
  
      </div>     
  
      </div>


   <!-- <div class="container">
     <div class="article"></div>
     <div class="article"></div>
     <div class="article"></div>
   </div> -->


    <script>


      const table = document.getElementById("table");

      const syllabus = document.getElementById("syllabus");
      const marks = document.getElementById("marks");
      const fees = document.getElementById("fees");
      const Attendance = document.getElementById("Attendance");
      const notes = document.getElementById("notes");
      // syllabus.click();


      function clear(){

        while (table.rows.length > 1) {

          table.removeChild(table.lastChild);
      
        }


        syllabus.className="";
        marks.className="";
        fees.className="";
        Attendance.className="";
        notes.className="";
      }


      syllabus.addEventListener("click",function(){
        


        if(syllabus.className=="active"){
          return;
        }

        clear();


        syllabus.className="active";

        const xhttp = new XMLHttpRequest();              

        xhttp.addEventListener("load",function(res){

          var obj = JSON.parse(xhttp.responseText);
          console.log(obj);

          var obj1 = {
            view: "view",
            download: "download",
            size: obj.Sem
          };

          createDom(obj,obj1);

        });

          
          xhttp.open("get", "/fetch",true);
          xhttp.setRequestHeader('Content-Type', 'application/json');
          xhttp.send(); 
      
          
      });


      marks.addEventListener("click",function(){

        
        if(marks.className=="active"){
          return;
        }

        clear();


        marks.className="active";
        

        const xhttp = new XMLHttpRequest();              

        xhttp.addEventListener("load",function(res){



          var obj = JSON.parse(xhttp.responseText);
          console.log(obj);

          var obj1 = {
            view: "view",
            download: "download",
            size: obj.Sem-1
          };

          createDom(obj,obj1);

        });

          
          xhttp.open("get", "/fetch",true);
          xhttp.setRequestHeader('Content-Type', 'application/json');
          xhttp.send(); 
    
      });

      fees.addEventListener("click",function(){
          
        if(fees.className=="active"){
          return;
        }

        clear();


        fees.className="active";

        
        const xhttp = new XMLHttpRequest();              

        xhttp.addEventListener("load",function(res){



          var obj = JSON.parse(xhttp.responseText);
          console.log(obj);

          var obj1 = {
            view: "pending",
            download: "receipt",
            size: obj.Sem
          };

          createDom(obj,obj1);
      });

          
          xhttp.open("get", "/fetch",true);
          xhttp.setRequestHeader('Content-Type', 'application/json');
          xhttp.send(); 
    
        });


         Attendance.addEventListener("click",function(){
          
        if(Attendance.className=="active"){
          return;
        }

        clear();


        Attendance.className="active";




        });
        
        notes.addEventListener("click",function(){
          
          
        if(notes.className=="active"){
          return;
        }

        clear();


        notes.className="active";  

        
        const xhttp = new XMLHttpRequest();              

        xhttp.addEventListener("load",function(res){



          var obj = JSON.parse(xhttp.responseText);
          console.log(obj);

          var obj1 = {
            view: "view",
            download: "download",
            size: obj.Sem
          };

          createDom(obj,obj1);

        });

          
          xhttp.open("get", "/fetch",true);
          xhttp.setRequestHeader('Content-Type', 'application/json');
          xhttp.send(); 
    

        });




        function createDom(obj,obj1){

          for(let i=0;i<obj1.size;i++){

            let tr = document.createElement("tr");
            let sno = document.createElement("td");
            sno.innerText= i+1;
            let dsc = document.createElement("td");
            dsc.innerText= obj.Branch+" sem:" + (i+1) ;
            let view = document.createElement("td");
            view.id="view"+i;
            view.innerText= obj1.view;
            let download = document.createElement("td");
            download.id="download"+i;

            download.innerText=obj1.download;
            tr.appendChild(sno);
            tr.appendChild(dsc);
            tr.appendChild(view);
            tr.appendChild(download);

            table.appendChild(tr);

            }

        }

    </script>
</body>
</html>