<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Material</title>
</head>
<body>
    
    <div class="HeaderContainer">
        <div class="leftcontent">
         <h1 class="logo1"> <a href="/" style="text-decoration: none; color: black;"> StudentPortal</a></h1>
        </div>
        <div class="middlecontent">
          <li class="horizontal_navbar"> <a href="/"> <img class="icon" src="images/home.png"></a></li>
          <li class="horizontal_navbar" > <a href="https://my-chatcordroom.herokuapp.com/"> <img class="icon" src="images/msg_icon.png"></a></li>
          <li class="horizontal_navbar" >  <a href="/classroom"><img class="classimg" src="images/classroom.png"/></a> </li>        
          <!-- <li class="horizontal_navbar" >  <a href="https://classroom.google.com/"><img class="classimg" src="images/classroom.png"/></a> </li>         -->
          <li class="horizontal_navbar" > <img class="icon" src="images/notification.jpeg"></li>
        </div>
        <div class="rightcontent">
          <!-- <li class="Logout horizontal_navbar" ><a href="/logout"> Login </a></li>
          <li class="Logout horizontal_navbar" ><a href="/logout"> Logout  </a></li> -->
          <li class="horizontal_navbar" >  <a href="/profile"><img class="profile" src="images/profilePic.jpeg"/></a> </li>
        </div>
      </div>
</body>
</html>