<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/screen.css">
    <title>Document</title>
</head>
<body>
    <div class="HeaderContainer">
        <div class="leftcontent">
         <img class="icon" src="./images/shopLogo.jpeg">
        </div>
        <div class="middlecontent">
        <img class="search_icon" src="images/search3.jpeg">
  
          <input type="search" placeholder="Search for friends, content and more...." class="Search"></input>
        </div>
        <div class="rightcontent">
          <li class="Home horizontal_navbar w3-xxlarge fa fa-home"><a href="/home"> Home  </a></li>
          <!-- <li class="horizontal_navbar" >  <a href="/classRoom"><img class="classimg" src="images/classroom.png"/></a> </li> -->
          <li class="horizontal_navbar" > <img class="icon" src="images/msg_icon.png"></li>
          <li class="horizontal_navbar" >  <a href="/profile"><img class="profile" src="images/profilePic.jpeg"/></a> </li>
          <li class="horizontal_navbar" > <img class="icon" src="images/notification.jpeg"></li>
          <li class="Logout horizontal_navbar" ><a href="/logout"> Logout  </a></li>
        </div>
      </div>
</body>
</html>