<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/studentcss.css">
    <title>subjects</title>
</head>
<body>
  <div class="HeaderContainer">
    <div class="leftcontent">
     <h1 class="logo1"> <a href="/" style="text-decoration: none; color: black;"> StudentPortal</a></h1>
    </div>
    <div class="middlecontent">
      <li class="horizontal_navbar"> <a href="/"> <img class="icon" src="images/home.png"></a></li>
      <li class="horizontal_navbar" > <a href="https://my-chatcordroom.herokuapp.com/"> <img class="icon" src="images/msg_icon.png"></a></li>
      <li class="horizontal_navbar" >  <a href="/classroom"><img class="classimg" src="images/classroom.png"/></a> </li>        
      <!-- <li class="horizontal_navbar" >  <a href="https://classroom.google.com/"><img class="classimg" src="images/classroom.png"/></a> </li>         -->
      <li class="horizontal_navbar" > <img class="icon" src="images/notification.jpeg"></li>
    </div>
    <div class="rightcontent">
      <!-- <li class="Logout horizontal_navbar" ><a href="/logout"> Login </a></li>-->
      <li class="Logout horizontal_navbar" ><a href="/logout"> Logout  </a></li> 
      <li class="horizontal_navbar" >  <a href="/profile"><img class="profile" src="images/profilePic.jpeg"/></a> </li>
    </div>
  </div>

  <div class="container">
    <div class="syllabus">
        syllabus
    </div>

    <div class="notes">
        notes
    </div>

    <div class="materials">
        material
    </div>
  </div>
  
  <div class="content1"></div>
  <div class="content2"></div>
  <div class="content3"></div>

</body>
<script>
  let sylb = document.querySelector(".syllabus");
  let nots = document.querySelector(".notes");
  let mtrl = document.querySelector(".materials");

  let c1 = false;
  function addsubtodom(element,obj){
    if(c1==false){
    for(let i in obj){
      let p = document.createElement("a");
      p.innerText= i;
      p.href = obj[i].notes;
      p.setAttribute("class","subs");
      element.appendChild(p);

    }
    c1=true;

    }
  }


  sylb.addEventListener("click",()=>{
      
      var xhttp = new XMLHttpRequest();              
      // Typical action to be performed when the document is ready:
      
      
      xhttp.addEventListener("load",function(res){
        var obj = JSON.parse(xhttp.responseText);
        console.log("data ",obj);
        addsubtodom(document.getElementsByClassName("content"),obj);
        
      });
      xhttp.open("get", "/clsub",true); //class subject
      xhttp.setRequestHeader('Content-Type', 'application/json');
      xhttp.send(); 
      
    
    })


</script>
</html>