
body{
    background-color: rgba(223, 223, 238,0.1);
    margin: 0;
    padding: 0;
  }  

  .HeaderContainer{
    /* overflow: hidden; */
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    width:99vw;
    background-color: #fff;
    position: fixed; 
    display:flex;
    padding:8px;
    -webkit-box-shadow: 0px -2px 22px -4px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px -2px 22px -4px rgba(0,0,0,0.59);
    box-shadow: 0px -2px 22px -4px rgba(0,0,0,0.59);
    }
    
    .leftcontent{ 
      text-align: center;
      flex: 2;
    }
  
    .middlecontent{
      background-color: #eee;
      flex: 4;
      padding: 3px;
      display: flex;
      align-items: center;
      border-radius: 32px;
    }
  
    .rightcontent{ 
      /* float:left; */
      display: flex;
    /* flex: 3; */
      align-items: center;
    line-height: 20px;
    text-align: right;
    }
  
    .search_icon{
    height: 27px;
    margin-left: 15px;
    margin-right: 13px;
    }
  
    .horizontal_navbar {
      display: inline;
      padding: 8px;
      vertical-align: middle;
    }
    
    .icon{
      cursor: pointer;
      height: 40px;
    }
  
    .profile,.classimg{
      cursor: pointer;
      height: 40px;
      width:  40px;
      border-radius: 50%;
    }
  
    .Search{
      width: 40vw;
      height: 20px;
      border: none;
      font-weight: bold;
      font-size: large;
      background-color: #eee;
    }
  
    .Search:focus{
      outline: none;
    }
  
    .Home{
      margin-right: 15px;
      cursor: pointer;
    }
  
    .Logout{
      margin-right: 15px;
      cursor: pointer;
    }
  
.classContainer{
    margin:auto;
    display: flex;
    /* align-items: center; */
    margin-top: 80px;
    height:auto;
    width: 90vw;
}
#welcome{
    margin-top: 100px;
    text-align: center;
}

.left,.right{
    flex:1;
    margin: 0px 100px;
    border: 1px solid rgb(24, 22, 22);
    height: 250px;
    
}

#left, #right{
    text-align: center;
}

.content{
    width: 40vw;
}

.UL li{
    font-size: 20px;
}



/* Collapsibles/Accordion */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
.subs{
  padding:0 18px;
  background-color: white;
  text-decoration: none;
  color: black;
  display: flex;
  align-items:flex-start;
  margin: 10px;
  padding: 10px;
}

.subs:hover{
  background-color: rgb(167, 161, 161);
  /* cursor: pointer; */
}